mods/*
logs/*
downloads/*
.curseclient
options.txt
usercache.json
usernamecache.json
crash-reports/*
emojiful/*
journeymap/*
shaderpacks/*
waypoints/*
saves/*
resourcepacks/*
local/ftbchunks/*
user-prefs.json
minecraftinstance.json
minecraftinstance.json
command_history.txt